#!/usr/bin/env php
<?php

/**
 * Set up these variables using forward-slashes (/) only.
 * Absolute or relative paths should work fine.
 * For Windows: 'C:/your/path/here'.
 * For Unix: '/usr/local/path'.
 */
$application_path = '.';
$system_path = 'system';

$start_time = microtime(TRUE);

define('DS', DIRECTORY_SEPARATOR);
define('LADDER_APPPATH', realpath($application_path).DS);
define('LADDER_SYSPATH', realpath($system_path).DS);

require_once(LADDER_SYSPATH.'core/bootstrap.php');